<div class="col-span-12 md:col-span-7 lg:col-span-8 intro-x">
  <div class="w-3/5 overflow-auto bg-white mx-auto">
    <h2 class="text-2xl font-semibold py-4">Danh sách nguồn tin</h2>
    <div class="flex space-x-3">
      <div class="space-y-1">
        <label class="text-gray-700 font-medium">Tìm kiếm</label
        ><br />
        <div class="relative w-fit">
          <input
            class="w-72 h-8 rounded-md text-gray-700 bg-white border border-solid border-gray-200 pr-9 pl-4 outline-blue-400"
            [(ngModel)]="table.search"
            (change)="table.searchFull()"
            type="text"
            placeholder="Tìm kiếm theo tiêu đề, tên chủ đất..."
          />
          <i class="text-lg las la-search absolute top-1/2 -translate-y-1/2 right-2 z-[1]"></i>
        </div>
      </div>
      <div class="space-y-1">
        <label class="text-gray-700 font-medium">Trạng thái</label><br />
        <nz-select
          *ngIf="(globalFacade.user$ | async)?.userModel?.roleListCode?.[0] == 'ADMIN'"
          class="w-36"
          nzAllowClear
          nzPlaceHolder="{{ 'routes.admin.profile-farmer.select' | translate }}"
          [(ngModel)]="table.paramTable.filter.StatusCode"
          (ngModelChange)="table.filter('StatusCode', null, $event)"
        >
          <nz-option 
            *ngFor="let status of listAdminStatus"
            [nzValue]="status.statusCode"
            [nzLabel]="status.label"
          ></nz-option>
        </nz-select>

        <nz-select
        *ngIf="(globalFacade.user$ | async)?.userModel?.roleListCode?.[0] == 'SOU'"
        class="w-36"
        nzAllowClear
        nzPlaceHolder="{{ 'routes.admin.profile-farmer.select' | translate }}"
        [(ngModel)]="table.paramTable.filter.StatusCode"
        (ngModelChange)="table.filter('StatusCode', null, $event)"
      >
        <nz-option 
          *ngFor="let status of listSelerStatus"
          [nzValue]="status.statusCode"
          [nzLabel]="status.label"
        ></nz-option>
      </nz-select>

      <nz-select
      *ngIf="(globalFacade.user$ | async)?.userModel?.roleListCode?.[0] == 'SOU_CO'"
      class="w-36"
      nzAllowClear
      nzPlaceHolder="{{ 'routes.admin.profile-farmer.select' | translate }}"
      [(ngModel)]="table.paramTable.filter.StatusCode"
      (ngModelChange)="table.filter('StatusCode', null, $event)"
    >
      <nz-option 
        *ngFor="let status of listNewsStatus"
        [nzValue]="status.statusCode"
        [nzLabel]="status.label"
      ></nz-option>
    </nz-select>


      </div>
      <div class="space-y-1">
        <label class="text-gray-700 font-medium">Thời gian</label><br />
        <nz-range-picker
          class="!w-72"
          nzAllowClear
          [nzPlaceHolder]="['Bắt đầu' | translate, 'Kết thúc' | translate]"
          [(ngModel)]="table.paramTable.filter.DateRange"
          (ngModelChange)="table.filter('DateRange', null, $event)"
        ></nz-range-picker>
      </div>
    </div>
    <div class="h-auto overflow-y-auto relative scroll mt-4">
      <g-datatable
        #table
        [columns]="columnsTable"
        [extendData]="{ id: id }"
        [loading]="newsFacade.isLoading$ | async"
        [data]="(newsFacade.pagination$ | async)?.content || []"
        [total]="(newsFacade.pagination$ | async)?.totalElements || 0"
        [showPagination]="false"
        [showSearch]="false"
        (ngChange)="newsFacade.getPagination($event)"
      >
        <ng-template #ownerFullName let-data>
          <p
            class="text-blue-800 hover:text-blue-600 font-medium truncate cursor-pointer"
            (click)="router.navigate(['/list_source_news', data?.id, 'detail'])"
          >
            {{ data?.title }}
          </p>
        </ng-template>

        <ng-template #statusTable let-data>
          <button
            *ngIf="data.statusCode == 'WAIT_CONFIRM'"
            class="px-2 h-5 flex items-center mx-auto text-white text-13 cursor-default bg-green-400"
          >
            Chờ duyệt
          </button>
          <button
            *ngIf="data.statusCode == 'PUBLISHED'"
            class="px-2 h-5 flex items-center mx-auto text-13 text-white cursor-default bg-blue-400"
          >
            Đã duyệt
          </button>
          <button
            *ngIf="data.statusCode == 'DRAFT'"
            class="px-2 h-5 flex items-center mx-auto text-13  text-white cursor-default bg-gray-400"
          >
            Nháp
          </button>
          <button
          *ngIf="data.statusCode == 'END'"
          class="px-2 h-5 flex items-center mx-auto text-13 text-white cursor-default bg-red-500"
        >
          Kết thúc
        </button>
        <button
        *ngIf="data.statusCode == 'VERIFIED'"
        class="px-2 h-5 flex items-center mx-auto text-13 text-white cursor-default bg-blue-600"
      >
        Xác minh
      </button>
      <button
      *ngIf="data.statusCode == 'RECEIVED'"
      class="px-2 h-5 flex items-center mx-auto text-13 text-white cursor-default bg-blue-400"
    >
      Nhận tin
    </button>
    <button
    *ngIf="data.statusCode == 'ADMIN_REJECTED'"
    class="px-2 h-5 flex items-center mx-auto text-13 text-white cursor-default bg-red-300"
  >
    Từ chối
  </button>
        </ng-template>
      </g-datatable>
    </div>
    <div class="border-t border-gray-100 px-3 pb-3">
      <g-pagination
        class="w-full"
        [total]="table.total"
        [page]="table.paramTable.page"
        [size]="table.paramTable.size"
        [pageSizeOptions]="table.pageSizeOptions"
        (queryParams)="table.nzQueryParams($event)"
      ></g-pagination>
    </div>
  </div>
</div>
